<html>

<head>
  <title>{{title}}</title>
</head>

<body>
  {{> banner}}
  {{#user}}
    {{user.name}}
    <ul>
      <li>Access Token: {{user.accessToken}}</li>
      <li>Refresh Token: {{user.refreshToken}}</li>
    </ul>
  {{/user}}
</body>

</html>
